*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font */
  --barlow-fnt: "Barlow Condensed", sans-serif;
  --montserrat-fnt: "Montserrat", sans-serif;

  /* colors */
  --black-clr: #14130f;
  --white-clr: #fff;
  --crayola-clr: #00cc99;
  --bright-grey-clr: #ebecf0;
  --hawk-grey-clr: #77757d;
  --dark-grey-clr: #5d5c5b;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  letter-spacing: 1px;
}

body {
  /* background-color: var(--crayola-clr); */
  color: var(--black-clr);
}

.wrapper {
  width: 100%;
  display: grid;
  gap: 1rem;
}

header {
  margin-top: 1rem;
  justify-self: center;
}

.head-1 {
  font: normal 700 2rem var(--montserrat-fnt);
  color: var(--crayola-clr);
  text-shadow: 2px 2px 4px var(--black-clr);
}

/* 


*/
.app {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  gap: 1rem;
}

.app-container {
  width: 260px;
  border-radius: 2px;
  padding: 0;
  background-color: violet;
  box-shadow: 0 3px 6px var(--black-clr);
  transition: box-shadow 0.3s ease-in-out;
}

.app-container:hover {
  box-shadow: 0 2px 4px var(--black-clr);
}

.sticky-note {
  width: inherit;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.sticky-btn {
  border: none;
  outline: none;
  display: block;
  width: 2rem;
  height: 30px;
  line-height: 30px;
  font: normal 400 1.25rem var(--montserrat-fnt);
  background: inherit;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.sticky-btn:hover {
  color: var(--dark-grey-clr);
}

.sticky-head {
  gap: 1rem;
}

.dots {
  margin-left: auto;
}

.sticky-bottom {
  justify-content: space-between;
}

.bold {
  font-weight: 700;
}

.italic {
  font: italic 600 1.25rem "Courier New";
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.notes {
  resize: none;
  border: none;
  outline: none;
  display: block;
  width: 256px;
  margin: 0 auto;
  height: 200px;
  background: rgba(255, 255, 255, 0.7);
  font: normal 300 1rem/1.4 var(--barlow-fnt);
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
}

/* 


*/

@media screen and (min-width: 650px) {
  .app {
    grid-template-columns: repeat(auto-fit, 260px);
  }

  .head-1 {
    grid-column: 1/3;
  }

  .btn-add {
    align-self: center;
    justify-self: center;
  }
}
